<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			<div hunter-header></div>
			
<div class="main prop-area">
      <div  class="prop-hed">
      <h2>Location Tracking </h2>
      </div>
 
      <div class="dashbord-item">	
      	<div class="col-md-12 no-pad">
        	<div class="row loginForm2">
        <div class="form-box">
          <div class="form-bottom2 text-center">
            <form role="form" class="login-form">
            	<div class="map-page outline">
               		<div id="outlinemap" class="map-area"></div>
               </div>
            </form>
          </div>
        </div>
      </div>
        </div>
      </div>
 </div>
 <div footer></div>
		</div>
	</div>
</div>
