<div class="main prop-area">
      <div  class="prop-hed">
      <h2>Add Property </h2>
      </div>
	  
	  <div class="dashbord-item">	
      	<div class="col-md-6 no-pad">
        	<div>
        <div class="form-box">
         <div id="scroller-anchor"></div> 
          <div class="form-bottom2 text-center"  >
            <form role="form" class="login-form" >
            	<div class="map-page" id="scroller">
               		<div id="outlinemap" map-height class="map-area" ></div>
               </div>
            </form>
          </div>
        </div>
      </div>
        </div>
        <div ui-view></div>
       
       
       
      </div>
	  
      	
     
    
        </div>
        