<div class="footer">
<div class="footerInner">
        <ul>
          <li><a href="http://www.doveblasters.com/">Home</a></li>
          <li><a href="http://www.doveblasters.com/dove-hunting-collin-county-denton-county-pricing.htm">Booking</a></li>
          <li><a href="#/hunter/hunterproperties/ALL">Properties</a></li>
          <li><a href="">Shop</a></li>
          <li><a href="">Hunting Reports </a></li>
          <li><a href="">Sponsorships</a></li>
          <li><a href="">Our Sponsors</a></li>
          <li><a href="">Lease Your Property</a></li>
          <li><a href="http://www.doveblasters.com/dove-hunting-collin-county-denton-county-gallery.htm">Gallery</a></li>
          <li><a href="">Giving Back</a></li>
          <li><a href="#/termsAndConditions">Rules &amp; Regulations</a></li>
          <li><a href="">Weather Conditions</a></li>
          <li><a href="">Lease Your Property</a></li>
          <li><a href="">Membership Cards</a></li>
          <li><a href="">Mailing List</a></li>
          <li><a href="#/hunter/contactus">Contact</a></li>
        </ul>
        <p class="copyright">COPYRIGHT &copy; 2009-2017 - OUTLAW OUTFITTERS, LLC - DOVE BLASTERS, L.L.C. ALL RIGHTS RESERVED.</p>
      </div>
	  </div>