<div tabindex="1" id="Focus">
        <nav class="navbar navbar-default" role="navigation"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button  type="button" class="navbar-toggle" data-toggle="collapse"  data-target="#navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <a class="navbar-brand" href="http://www.doveblasters.com"><img src="../assets/img/logo.png" /></a> 
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" sidebar-activate="state" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
              <!-- <li><a href="http://www.doveblasters.com"  >Home</a></li> -->
              <li><a href="http://www.doveblasters.com/dove-hunting-collin-county-denton-county-pricing.htm">Booking</a></li>
              <li><a href="#/hunter/hunterproperties/ALL">Properties</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right no-marg-responsive">
              <!-- <li><a href="">Shop</a></li> -->
               <li><a href="" ng-click="goToCartPage()">Go To Cart</a></li>
             <!--  <li><a href="http://www.doveblasters.com/dove-hunting-collin-county-denton-county-gallery.htm">Gallery</a></li> -->
              <li><a href="#/hunter/contactus">Contact</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse --> 
        </nav>
      </div>