<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			<div header></div>
			<div class="main dashbordHeight">
				<div class="prop-hed">
					<h2>Terms and Conditions</h2>
				</div>
				<div class="dashbord-item terms-page">
                <h3>Just legal stuff to protect ourselves:</h3>
                	<ul>
                    	<li>You will abide by all General Hunting and Fishing requirements/restrictions from Texas Parks and Wildlife Outdoor Annual. You will abide by all laws concerning hunting &amp; fishing in the State of Texas &amp; United States of America Federal Hunting Laws.</li>
                        <li>I agree to not discard any trash on any Dove Blasters, LLC property, including all food wrappers, sacks, containers, cans, bottles, and as many of my spent shells as can be found.</li>
                        <li>No open fires on Dove Blasters, LLC property.</li>
                        <li>No alcohol allowed on Dove Blasters, LLC property.</li>
                        <li>No guest may ask another guest to hunt.</li>
                        <li>Do not drive in plowed fields &amp; agree to never drive across any fields on club land &amp; I will only drive on established roads, only when dry and never when wet if ruts will be made.</li>
                        <li>You must have a valid hunting license and have taken a hunter education course if required.</li>
                        <li>Stay a safe distance away from other hunters</li>
                        <li>No hunting from any motorized vehicle or ATV's. ATVs are not allowed on Dove Blasters, LLC. Property.</li>
                        <li>Leave gates as you found them. Do not leave any entrance gates open.</li>
                        <li>Do not interfere with another persons hunt.</li>
                        <li>Do not park your vehicle in tall grass due to the possibility of fire.</li>
                        <li>Make sure that you know the hunting boundaries. Do not hunt outside of Dove Blasters, LLC. boundaries. It is your responsibility to ask about the boundaries.</li>
                        <li>If you have a minor child hunting with you, you are responsible for that child.</li>
                        <li>Everything carried onto the property by you and your guests, shall also be carried off by you, when you leave.</li>
                        <li>You agree to never take any person to Dove Blasters, LLC property, unless you have first received approval, from Dove Blasters, LLC, and I have obtained a signed hold harmless agreement.</li>
                        <li>Dove Blasters, LLC. Reserves the right to remove anyone from the premises for unsafe or inappropriate conduct.</li>
                    </ul>
					<p>You understand that hunting &amp; outdoor activities have certain inherent risks and that you assume full responsibility for your conduct and safety in the outdoors. With your signature on this form, you are agreeing with these rules and will except full responsibility for your conduct and safety. You also hereby agree to fullest extent permitted by law, to hold harmless and unconditionally indemnify "Dove Blasters, LLC", its officers, directors, employees, stockholders and agents from any and all claims of liability.</p>
				</div>
				
				
			</div>
			<div footer></div>
		</div>
	</div>
</div>
